body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

li {
  display: inline-block;
}

.right {
  float: right;
}

li:hover {
  font-weight: bold;
}

li:first-child {
  background-color: lightgreen;
}

li:last-child {
  background-color: lightblue;
}

a:focus {
  background-color: yellow;
}

a::after {
  content: "↗";
}

p::first-letter {
  font-size: 24px;
  font-family: cursive;
}

.advanced {
  width: 200px;
  height: 200px;
  /* border: 1px solid black; */
  margin: 50px;
  background-color: pink;

  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  cursor: pointer;
}
