h1 {
  color: turquoise;
}

p {
  color: magenta;
}

.bold-text {
  font-weight: bold;
}

.italics-text {
  font-style: italic;
}

#special-div {
  border: 3px dashed orange;
}

#another-special-div {
  background-color: lightpink;
}

p.bold-text{
  font-size: 20px;
}

#special-div p {
  text-decoration: underline;
}

#special-div > p {
  color: lime;
}

#special-div + div {
  border: 5px solid brown;
  background-color: lightgray;
}

#special-div ~ div {
  border: 1px solid black;
}

html body div.bold-text.italics-text > p {

}

.that-paragraph {

}
